:root {
  --bg-color: black;
  --shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  --font-color-primary: aliceblue;
  --font-color-secondary: blue;
  --hover-color: red;

  --font-weight: 600;
  --font-size: 1.3rem;
}
nav {
  background: var(--bg-color);
  padding-block: 10px;
}

.wrapper {
  width: 85%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  font-weight: var(--font-weight);
  color: var(--font-color-primary);
  font-size: var(--font-size);
  text-decoration: none;
}

.navbar li a::after {
  content: "";
  display: block;
  position: relative;
  height: 3px;
  width: 100%;
  background: var(--hover-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 400ms ease-out;
}

.navbar li:hover a::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navbar li .active::after {
  transform: scaleX(1);
  transform-origin: initial;
}
